.git
.gitignore
.gitattributes
.editorconfig
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
*.log
*.md
docker-compose*.yml
Dockerfile
phpunit.xml
.env
.env.*
!.env.example
tests
